@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  font-family: pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.react-datepicker__aria-live,
.react-datepicker__day-names {
  display: none !important;
}
/* ✅ 12개월을 4행 3열로 표시 */
.react-datepicker__month-wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 4px; /* X축 간격 */
  row-gap: 0px; /* Y축 간격 */
  margin: 0 !important;
}

.react-datepicker__month-text {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.react-datepicker__month-text:hover {
  background-color: #c6ceda;
}

.react-datepicker__month-text--selected {
  background-color: #f5f7f9 !important;
  border: 2px solid #374151 !important;
}

.react-datepicker__month-text--selected > div {
  font-weight: bold !important;
}
